<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>PriceLoader</title>
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<!-- JavaScript Bundle with Popper -->

</head>
<body>
	<div th:fragment="footer">
		<script src="js/external/bootstrap.bundle.min.js"></script>
		<script src="js/external/alertify.min.js"></script>
		<script src="js/app/helpers.js"></script>
		<script src="js/app/globals.js"></script>
		<script src="js/external/mustache.js"></script>
		<script src="js/app/app.js"></script>
		<script src="js/app/project.js"></script>
		<script src="js/app/console.js"></script>
		
	</div>
</body>
</html>